<div class="container-fluid"> 
    <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <h1 class="text-center">Welcome to this Api Crud for save images</h1>.
            </div>

            <p>
                You can navigate for the app in the navbar, this API CRUD is thinking for use in another full stack proyects. If you want to see this API in action visit my Portfolio || my GitHub.

                If you want to conctact me check my social networks: 
                
            </p>
    </div>
    <h2 class="text-center">Carlos Guerra</h2>
</div>