<style>
    .swiper {
  width: 600px;
  height: 300px;
}
</style>
<div class="container">
    My images of Wheater
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {{#each images}}
      <img src="{{imgUrl}}" alt="image"  class="swiper-slide p-10"/>
    {{/each}}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
</div>